Flask
Flask-Cors
Flask-Limiter
waitress

requests
cachetools
pandas
openpyxl

pymongo
python-dotenv

APScheduler

PyJWT
cryptography

PyMuPDF

google-genai
openai

sentence-transformers
torch
transformers
scikit-learn
numpy